[Unit]
Description=Rsync Proxy
After=network.target
ConditionPathExists=/etc/rsync-proxy/config.toml
StartLimitIntervalSec=10s

[Service]
Type=notify
NotifyAccess=all
KillMode=control-group
Restart=on-failure

ExecStart=/usr/bin/rsync-proxy --config=/etc/rsync-proxy/config.toml
ExecReload=/usr/bin/rsync-proxy --config=/etc/rsync-proxy/config.toml reload

RuntimeDirectory=rsync-proxy
LogsDirectory=rsync-proxy
User=rsync-proxy
Group=nogroup
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
