[Unit]
Description=Rsync Proxy
After=network.target
ConditionPathExists=/etc/rsync-proxy/config.toml

[Service]
Restart=on-failure
StartLimitInterval=10s

ExecStart=/usr/bin/rsync-proxy --config=/etc/rsync-proxy/config.toml
ExecReload=/usr/bin/rsync-proxy --config=/etc/rsync-proxy/config.toml reload

LogsDirectory=rsync-proxy
User=rsync-proxy
Group=nogroup
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
